/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}

/*layout*/
nav li{
	display: inline-block;
	float: right;
	margin: 30px 15px 35px 15px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
}
header{
	clear:both;
	width: 100%;
}
.products-container {
	width:100%;
	text-align: center;
}

.box {
	text-decoration:none;
	float:center;
	display: inline-block;
	text-align:center;
	width: 160px;
	margin: 15px 20px;
	padding: 20px 10px 10px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef));
}
/*elements*/

nav li a {
	text-decoration: none;
	float: right;
	color: #003399;
}
header img{
	display:block;
	margin: 0 auto;
}
.date {
	float: left;
	margin-left: 50px;
	color:#b8b8b8;
}
.sign-in a{
	margin-right: 50px;
	color: #00ccff;
}
h1 {
	text-align: center;
	font-family: "Times New Roman", Helvetica;
	font-size: 58px;
	font-weight:500;
	margin-top: 10px;
	margin-bottom: 20px;
	letter-spacing: -2px;
}
h5 {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 30px;
	font-weight:bold;
	margin-bottom:20px;
}

h3 {
	font-family:'Lucida Grande', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #336699;
	margin:15px 15px;
}

h4 {
	font-family:'Lucida Grande', sans-serif;
	font-weight:bold;
	font-size:14px;
	color: #c00;
	margin-bottom: 15px;
}

h5 {
	font-family:'Lucida Grande', sans-serif;
	font-size:15px;
	line-height:1.5;
	margin-bottom: 15px;
	color: #222;
}
.product {
	text-decoration:underline;
}

.super {
	text-decoration:none;
	font-size:10px;
	vertical-align:top;
	color: #ccc;
}

/*state*/
nav li a:hover {
	color:#8face6;
}

.sign-in a:hover{
	color: #003399;
}

