/*Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}

/*layout*/
html { 
	background: url(gradient-blue.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	white-space:nowrap;
}
#hot_cold_container{
	text-align:center;
}
#fire_holder{
	margin-top: 100px;
	text-align:center;	
}
#input_container{
	width:100%;
	text-align:center;
}
#guess_container{
	display:inline-block;
	text-align:center;
	width: 40%;
}
#hint_box {
	display:inline-block;
	text-align:center;
	font-family:'Lucida Grande', sans-serif;
	font-weight: bold;
	color: #4A4A4A;
	width: 20%;
}
#current_guess {
	display: block;
	font-style: normal;
	font-size: 80px;
}
#hint_container {
	display: block;
	font-style:italic;
	font-size: 40px;
	white-space:pre-wrap;
}
#guess_box_title, #guess_counter {
	display:inline-block;
	font-family:'Lucida Grande', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #CFCFCF;
	margin-top: 50px;
	text-align:center;
}
#guess_counter{
	color: red;
	vertical-align: top;
	width: 39%;
}

/*elements*/
#hot-gray {
	display:inline-block;
	width: 425px;
	margin-top: 100px;
	margin-right:75px;
}

#hot-red {
	display:none;
	width: 425px;
	margin-top: 100px;
	margin-right:75px;
}

#cold-gray {
	display:inline-block;
	width: 600px;
	margin-top: 100px;
	margin-left:75px;
}
#cold-blue {
	display: none;
	width: 600px;
	margin-top: 100px;
	margin-left:75px;
}
h1 {
	font-family:'Lucida Grande', sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #CFCFCF;
	margin-top: 50px;
	margin-bottom:100px;
	line-height: 50px;
}
#fire_start {
	width: 500px;
}
#fire_warm, #fire_cold, #fire_lit {
	width: 500px;
	display: none;
}
#guess {
	height: 70px;
	font-size: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 150px;
	text-align:center;
}
#submit, #reset {
	font-size: 40px;
	border-radius: 7px;
}
#counter {
	font-size: 80px;
	font-weight:normal;
	margin-top: 20px;
	margin-bottom:10px;
}
